@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.Home,
.Tech {
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
}

.Home {
	background-image: url("../public/publicImages/home-bg.png");
}
.Tech {
	background-image: url("../public//publicImages/testimonials-bg.png");
}
